{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="my-3">Liste des disciplines</h1>

    <div class="my-3">
        {{form(form)}}
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nb participants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in disciplines %}
                <tr>
                    <td>{{discipline.nom}}</td>
                    <td>{{ discipline.athletes|length}} participants</td>
                    <td>
                        <a href="{{ path('update_discipline', {id: discipline.id}) }}"><button class="btn btn-info">Modifier</button></a>
                        <a href="{{ path('delete_discipline', {id: discipline.id}) }}"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-info">Il n'y a pas encore de disclipline proposée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
